<!-- templates/login.html -->

{% extends "base.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash">
                {% for message in messages %}
                    <li class="error">{{ message }}</li>
                {% endfor %}
            </ul>
    {% endif %}
{% endwith %}

<h1>Sundhedsfagligt Personanle</h1>

<div class="login-container">
    <h2>Medarbejder Login</h2><br>
    <form action="/login" method="post">
        <div class="mb-3">
            <label for="Username" class="form-label">Brugernavn:</label>
            <input type="text" class="form-control" id="Username" name="username">
        </div>
        <br>
        <div class="mb-3">
            <label for="Password" class="form-label">Adgangskode:</label>
            <input type="password" class="form-control" id="Password" name="password">
        </div>
        <br>
            <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %}